<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5" th:text="${session.name}">Username</div>
                    <div class="h7 text-muted">
                        <a th:href="@{/user/profile/}"><i class="fas fa-external-link-alt"></i> View profile</a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h7 text-muted">Fullname</div>
                        <div class="h6" th:text="${session.full_name}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Description</div>
                        <div class="h6" th:text="${session.description}"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">

            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                               aria-controls="posts" aria-selected="true">Make
                                announcement</a>
                        </li>
                        <!-- TODO: Image upload -->
                        <!--<li class="nav-item">-->
                        <!--<a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <form th:action="@{/user/addPost}" method="post">
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                 aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <input class="form-control" placeholder="Title"
                                           type="text" name="title"/>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <textarea class="form-control" id="message" rows="3"
                                              placeholder="What are you thinking?" name="text"></textarea>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload image</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <input type="hidden" name="user.id" th:value="${session.user_id}"/>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">share</button>
                            </div>
                            <div class="btn-group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-globe"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Post /////-->

            <!--- \\\\\\\Post-->
            <div class="card gedf-card" th:each="card : ${cards}">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0" th:text="${card.user.username}"></div>
                                <div class="h7 text-muted" th:text="${card.user.fullName}"></div>
                                <div class="text-muted h7 mb-4"><i class="far fa-clock"></i> <span
                                        th:text="${card.created}"></span>
                                </div>
                                <a th:href="@{/user/profile/} + ${card.user.id}">
                                    <div class="h7 text-muted">View profile</div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <a class="dropdown-item" href="#">Save</a>
                                    <a class="dropdown-item" href="#">Hide</a>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a class="card-link" href="#">
                        <h5 class="card-title" th:text="${card.title}"></h5>
                    </a>

                    <p class="card-text" th:text="${card.text}">
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                    <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                    <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="comment: ${card.comments}">
                        <a th:href="@{/user/profile/} + ${comment.user.id}"><span
                                th:text="${comment.user.username}"></span></a>
                        :
                        <span th:text="${comment.text}"><i>Some comment...</i></span>
                        <span th:text="${comment.created}" style="float:right"></span>
                    </li>
                </ul>
                <div class="card-body">
                    <form method="post" th:action="@{/user/addComment}" class="form-inline">
                        <div class="input-group col-10" style="padding-left:0px">
                            <input type="text" class="form-control" name="text" placeholder="Comment..."/>
                            <input type="hidden" name="user.id" th:value="${session.user_id}"/>
                            <input type="hidden" name="card.id" th:value="${card.id}"/><br>
                        </div>
                        <button type="submit" class="btn btn-primary float-right btn-primary mb-2 ">Add</button>
                    </form>
                </div>
            </div>
            <!-- Post /////-->

        </div>
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">News by developer !!! </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Follow this space for upcoming news</h6>
                    <p class="card-text">Sprint 3 Features have been implemented which include messaging and user
                        profile.</p>
                    <a href="https://github.com/varunsinghal/soen-341" class="card-link" target="_blank">Source code</a>
                    <a href="https://github.com/varunsinghal/soen-341/issues" class="card-link" target="_blank">Raise
                        issue</a>
                </div>
            </div>
            <!--<div class="card gedf-card">-->
            <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
            <!--card's content.</p>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div th:replace="fragments/layout :: footer"/>
</body>
</html>