body{ /* this is just the background image of the login page*/
    margin: 0;
    padding: 0;
    background: url(../img/blp.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


.login{ /*putting the login page in the middle and creating a box around the avatar with the font color*/
    
    width: 320px;
    height: 420px;
    background:black ;
    color:white;
    top: 30%;
    left: 40%;
    position: absolute;
    transform: : translate(-50%,-50%);
    box-sizing: border-box;
    padding:50px 30px; 
}

.avatar{ /*moving the avatar along the box to the middle of it and also moving half of it top so that it looks as it is on top of it*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:33%;
}

h1{ /*moving the h1 header to the middle top so it is below the avatar */
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    
}

.login p{ /*making the <p> in the login class bold and removing the margins and paddings so the bonding between username box and name close up<3 */
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input{ /*seperating the usernamebox and the passwordbox a bit from each other after a big fight*/
    width: 100%;
    margin-bottom:20px;
}

.login input[type="text"], input[type="password"] /*no to borders, no to outlines, yes to transparency!! */
{
    border:none;
    border-bottom: 1px solid #fff ;
    background:transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size: 16px;
}

.login input[type="submit"] /*make the submit button a beautiful red egg shaped button*/
{
    border:none;
    outline: none;
    height: 40px;
    background:darkblue;
    color:white;
    font-size: 18px;
    border-radius:20px;
}

.login input[type="submit"]:hover /*make mouse a magic wand that magically changes blue to orange*/  
{
    cursor:pointer;
    background:orange;
    color:black;
}

.login a{   /*christmas season for forgetting and creating pass and account*/
    text-decoration:none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login a:hover /*magic wand for losing pass and creating account*/
{
    color:orange;
    
}