<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav"/>
<link th:href="@{/css/message.css}" rel="stylesheet"/>
<br>
<br>
<div class="container">
    <h3 class=" text-center">Messages</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <a th:href="@{/message/new}"><i class="fas fa-plus-circle"></i> new message</a>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list" th:each="conversation : ${conversations}"> <!-- active_chat -->
                        <div class="chat_people">
                            <div class="chat_img">
                                <!--<img src=""> -->
                            </div>
                            <div class="chat_ib">
                                <h5>
                                    <a th:href="@{/message/} + ${conversation.id}">
                                        <span th:text="${conversation.otherUser.fullName}"></span>
                                        <i class="fas fa-arrows-alt-h"></i>
                                        <span th:text="${conversation.user.fullName}"></span>
                                    </a>
                                    <!--<span class="chat_date" th:text=""></span>-->
                                </h5>
                                <p><span>Last message activity: </span><span th:text="${conversation.updated}"></span></p>
                            </div>
                        </div>
                    </div> <!-- .chat_list ends -->

                </div>
            </div>
            <!-- -->
            <div class="mesgs">
                <div class="msg_history">
                    <div th:each="message : ${messages}">

                        <!-- incoming message -->
                        <div class="incoming_msg" th:if="${message.from.id != session.user_id}">
                            <div class="incoming_msg_img"> <!-- img --></div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p th:text="${message.text}"></p>
                                    <span class="time_date" th:text="${message.created}"> </span></div>
                            </div>
                        </div>
                        <!-- outgoing message -->
                        <div class="outgoing_msg" th:if="${message.from.id == session.user_id}">
                            <div class="sent_msg">
                                <p th:text="${message.text}"></p>
                                <span class="time_date"> </span></div>
                        </div>
                        <!-- -->
                    </div>
                    <form th:action="@{/message/addNewMessage}" method="post">
                        <input type="hidden" name="user.id" th:value="${currentConversation.user.id}"/>
                        <input type="hidden" name="otherUser.id" th:value="${currentConversation.otherUser.id}"/>
                        <input type="hidden" name="from.id" th:value="${session.user_id}"/>

                        <div th:if="${currentConversation.user.id == session.user_id}">
                            <input type="hidden" name="to.id" th:value="${currentConversation.otherUser.id}"/>
                        </div>
                        <div th:if="${currentConversation.user.id != session.user_id}">
                            <input type="hidden" name="to.id" th:value="${currentConversation.user.id}"/>
                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input type="text" class="write_msg" name="text" placeholder="Type a message" autocomplete="off"/>
                                <button class="msg_send_btn" type="submit">
                                    <i class="fab fa-telegram-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/layout :: footer"/>
</body>
</html>