body{ /* body, got a make it a long body for the slider*/
    background: linear-gradient(to bottom right, white, #bcbdc4);
    height:4000px;
}

.top{ /* the top margin of the website*/
    position:fixed;
    width:100%;
    height:0px;
    background:#4F6E89;
    top:0;
    left:0;
    color:white;
    z-index:7;
    
}

#img{
    left:0px;
    height:70px;
    top:0px;
    
}

#profilearea {
    transform: scale(0.037, 0.037);
    left:350px;
}

#division-header{
    left:1330px;
    font-size:50px;
}
#division-header2{
    left:1250px;
    font-size:50px;
}
#home-button{
    left:1350px;
    font-size: 50px;
    top:3px;
}
#home-png{
    transform: scale(0.17);
    left:544px;
    top:-16px;
}

#logoutlogo{
    left:980px;
    transform: scale(0.1);
    top:8px;
}

#lettericon{
    left:360px;
    top: -4px;
    transform:scale(0.15)
}
.post1{
    
    top:290px;
    left:240px;
    position:absolute;
    width:580px;
    height:600px;
    background:white;
    border-radius:3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    
}





.bn1{
    top:290px;
    left:240px;
    position:absolute;
    width:580px;
    height:600px;
    background:white;
    border-radius:3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    
    
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}
    
.bn2{
    top:910px;
    left:240px;
    position:absolute;
    width:580px;
    height:600px;
    background:white;
    border-radius:3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}
    
.bn3{
    top:1530px;
    left:240px;
    position:absolute;
    width:580px;
    height:600px;
    background:white;
    border-radius:3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}
    
.bn4{
    top:2150px;
    left:240px;
    position:absolute;
    width:580px;
    height:600px;
    background:white;
    border-radius:3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}
    
.bn5{
    top:2770px;
    left:240px;
    position:absolute;
    width:580px;
    height:600px;
    background:white;
    border-radius:3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}


.post00{
    top:70px;
    left:240px;
    position:absolute;
    width:600px;
    height:210px;
    
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}
.post{
    top:65px;
    left:240px;
    position:absolute;
    width:600px;
    height:210px;
}

#column-1{
    left:0px;
    top:0px;
    background:white;
    width:580px;
    height:200x;
    border-radius:3px/3px;
    font-size:15px;
    font-family:verdana;
    color:#1b6192;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}
#postpos{
    left:450px;
    top:170px;
    width:85px;
    height:30px;
}

#buttonpost{
    width:85px;
    height:30px;
    border-radius:4px/4px;
    background:blue;
    font-size:15px;
    outline:none;
    color:white;
    
}
#postboxpos{
    top:45px;
    left:10px;
    height:105px;
    width:580px;
    z-index:5;
}
#postbox{ 
     height:105px;
    width:580px;
    outline:none;
    border:white ;
    background:white;
    
}


#column-2{
    left:0px;
    top:0px;
    background:white;
    width:580px;
    height:200x;
    border-radius:3px/3px;
    font-size:15px;
    font-family:verdana;
    color:#1b6192;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}