body{ /* this is just the background image of the login page*/
    background: linear-gradient(to bottom right, white, #bcbdc4);
    height:4000px;
}
.top{ /* the top margin of the website*/
    position:fixed;
    width:100%;
    height:0px;
    background:#4F6E89;
    top:0;
    left:0;
    color:white;
    z-index:7;
    
}

#img{
    left:0px;
    height:70px;
    top:0px;
    
}

#profilearea {
    transform: scale(0.037, 0.037);
    left:350px;
}

#home-png{
    transform: scale(0.15);
    left:540px;
    top:-10px;
}

#logoutlogo{
	transform: scale(0.10);
    left:580px;
    top:8px;
}

#lettericon{
    left:480px;
    top: -4px;
    transform:scale(0.15)
}
