<html xmlns:th="http://www.thymeleaf.org">
<head>


    <div th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="">  -->

        <title>Empower</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/starter-template.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
              integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
              crossorigin="anonymous">
    </div>
</head>
<body>
<div th:fragment="nav ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/user/home}">
            <img th:src="@{/img/logo.png}" style="width:100px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user/home}"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/message}"><i class="fas fa-envelope"></i> Messages</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi! <span th:text="${session.name}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/user/profile}"><i class="fas fa-user"></i> Profile</a>
                        <a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </li>
                <li>
                    &ensp;
                </li>
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        </div>
    </nav>

    <!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
    <!--<a class="navbar-brand" href="#"><img th:src="@{/img/logo.png}"-->
    <!--style="width: 100px"/></a>-->
    <!--<span class="navbar-text text-white">Hi! &ensp;</span>-->
    <!--<span class="navbar-text" th:text="${session.name}"> </span>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse"-->
    <!--data-target="#navbarsExampleDefault"-->
    <!--aria-controls="navbarsExampleDefault" aria-expanded="false"-->
    <!--aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
    <!--<ul class="navbar-nav mr-auto">-->

    <!--<li class="nav-item active"><a class="navbar-brand" href="#">-->
    <!--<img src="profile.jpeg" width="50" height="50" alt=""></a>-->
    <!--</li>-->
    <!--<li class="nav-item"><a class="nav-link disabled text-white" href="#">Disabled</a>-->
    <!--</li>-->

    <!--<li class="nav-item dropdown"><a-->
    <!--class="nav-link dropdown-toggle text-white" href="https://example.com"-->
    <!--id="dropdown01" data-toggle="dropdown" aria-haspopup="true"-->
    <!--aria-expanded="false">Dropdown</a>-->
    <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
    <!--<a class="dropdown-item" href="#">Action</a> <a-->
    <!--class="dropdown-item" href="#">Another action</a> <a-->
    <!--class="dropdown-item" href="#">Something else here</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<li class="nav-item active">-->
    <!--<a class="navbar-brand" th:href="@{/}">-->
    <!--<img th:src="@{/img/home.png}" width="50" height="50" alt="">-->
    <!--</a><span class="sr-only">(current)-->
    <!--</li>-->
    <!--<li class="nav-item active">-->
    <!--<a class="navbar-brand" href="#">-->
    <!--<img th:src="@{/img/mailicon.png}" width="50" height="50" alt=""></a>-->
    <!--</li>-->
    <!--<li class="nav-item active">-->
    <!--<a class="navbar-brand" th:href="@{/logout}">-->
    <!--<img th:src="@{/img/logout.png}" width="35" height="35" alt=""></a>-->
    <!--</li>-->
    <!--<li></li>-->

    <!--&lt;!&ndash; <form class="form-inline my-2 my-lg-0">-->
    <!--<input class="form-control mr-sm-2" type="text"-->
    <!--placeholder="Search" aria-label="Search">-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form> &ndash;&gt;-->
    <!--</div>-->
    <!--</nav>-->
    <!--<br/>-->
    <!--<br/>-->
    <br/>
    <br/>
</div>

<div th:fragment="footer">

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/application.js}"></script>
</div>

</body>
</html>